.header-container {
  display: flex;
 flex-direction: column;
 align-items: center;
}

.container {
  display: inline-flex;
  justify-content: center;
}

.row {

}

.searchTerm{
  font-size: 40px;
}

.searchButton{

}
